<section class="about section" id="about">
  <h2 class="section-title">Education</h2>

  <div class="about__container bd-grid">
    <div class="about__img"><%= education.anh %></div>

    <div>
      <h2 class="about__subtitle">I'am <%= education.name %></h2>
      <p class="about__text">
        <%= education.decreption %>
        <br />
        <%= education.address %>
        <br />
        <%= education.phone %>
      </p>
    </div>
  </div>
</section>
